* {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
    scroll-behavior: smooth; /* Habilita rolagem suave */
}

body {
	font-family: "Roboto", sans-serif;
    font-size: 1em;
	background: #e6e6e6;
}

h1{
    color: #000;
	font-size: 2.5em;
    text-align: center;
    text-shadow: 2px 2px 2px lightgrey;
}

h2{
    color: #fff;
	font-size: 2.5em;
    text-align: center;
    text-shadow: 1px 1px 2px red;
}

.header{
    background-image: linear-gradient(to right, black, red);/*Define as cores de fundo(preto e vermelho) como gradientes*/
    color: white; /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
    display: flex; /* Usando flexbox para alinhamento */
    justify-content: space-between; /* Espaçamento entre logo e menu */
    align-items: center; /* Centraliza verticalmente */
}
.logo {
    font-size: 24px; /* Tamanho da fonte da logo */
    font-weight: bold; /* Fonte em negrito */
    filter: drop-shadow(2px 2px 5px rgba(255, 0, 0, 50));/*Sombra vermelha na borda da imagem*/
    width: 200px;
}

.nav ul {
    list-style-type: none; /* Remove marcadores da lista */
    display: flex; /* Itens do menu em linha */
    border: solid 2px #FFFC00;
    filter: drop-shadow(1px 1px 1px rgba(255, 0, 0, 50));
    box-shadow: (2px 2px 2px rgba(255,0,0,100));
    border-radius: 5px;
}

.nav li {
    margin-left: 20px; /* Espaçamento entre os itens */
}

.nav a {
    color: white; /* Cor dos links */
    text-decoration: none; /* Remove sublinhado */
    padding: 5px 10px; /* Espaçamento interno nos links */
    transition: background-color 0.3s; /* Efeito de transição */
}

.nav a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Efeito ao passar o mouse */
    border-radius: 5px; /* Bordas arredondadas */
}

#home {
    background-image: linear-gradient(to left, black, red);/*Define as cores de fundo(preto e vermelho) como gradientes*/
    border: solid red;
    border-radius: 2px;
    box-shadow: 20px 2px 2px;
}

#sobre {
    background-image: linear-gradient(to right, black, red);/*Define as cores de fundo(preto e vermelho) como gradientes*/
    border: solid red;
    border-radius: 2px;
    box-shadow: 20px 2px 2px;
}

#servicos {
    background-image: linear-gradient(to left, black, red);/*Define as cores de fundo(preto e vermelho) como gradientes*/
    border: solid red;
    border-radius: 2px;
    box-shadow: 20px 2px 2px;
}

#contato {
    background-image: linear-gradient(to right, black, red);/*Define as cores de fundo(preto e vermelho) como gradientes*/
    border: solid red;
    border-radius: 2px;
    box-shadow: 20px 2px 2px;
}

p {
    font-size: 1.2em; /* Tamanho da fonte do parágrafo */
    line-height: 1.6; /* Altura da linha */
    color: #fff; /* Cor do texto */
}
